[submodule "Autobahn"]
	path = Autobahn
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn.git

[submodule "Autobahn-UI"]
	path = Autobahn-UI
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn-UI.git
[submodule "Autobahn-User"]
	path = Autobahn-User
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn-User
[submodule "Autobahn-Proxy"]
	path = Autobahn-Proxy
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn-Proxy.git
[submodule "Autobahn-Car"]
	path = Autobahn-Car
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn-Car.git
[submodule "Autobahn-Software"]
	path = Autobahn-Software
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn-Software.git
