[submodule "Autobahn"]
	path = Autobahn
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn.git

[submodule "Autobahn-UI"]
	path = Autobahn-UI
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn-UI.git
[submodule "Autobahn-User"]
	path = Autobahn-User
	url = https://github.com/TP-Full-Stack-Autobahn/Autobahn-User
